{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finalize Invoice</title>
  <style>
    .product-detail {
      margin-left: 150px;
    }

    .product-detail1 {
      margin-left: 545px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="card shadow">
        <div class="card-body">
          <strong style="color: crimson;" class="text-center"> Quotation No:{{quote.quotation_number}}</strong>
          <form method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <label for="invoice_number"><strong>Invoice Number</strong></label>
                <input type="text" class="form-control" id="invoice_number" name="invoice_number" value="" required>
              </div>
              <div class="col-md-6">
                <label for="date"><strong>Date</strong></label>
                <input type="date" class="form-control" id="date" name="date" value="" required>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-6">
                <label for="seller"><strong>Seller</strong></label>
                <input type="text" class="form-control" id="seller" name="seller" value="AVISTA MMC">
              </div>
              <div class="col-md-6">
                <label for="buyer"><strong>Buyer</strong></label>
                <input type="text" class="form-control" id="buyer" name="buyer" value="{{  quote.company_name }}">
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-6">
                <label for="purchase-order"><strong>Purchase Order No.</strong></label>
                <input type="text" class="form-control" id="purchase-order" name="purchase_order" value="" required>
              </div>
              <div class="col-md-6">
                <label for="bank-details"><strong>Bank Details</strong></label>
                <select id="bank-details" name="bank_details" class="form-control">
                  {% for account in account_options %}
                  <option value="{{ account.value }}">{{ account.label }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-6">
                <label for="director"><strong>Director</strong></label>
                <input type="text" class="form-control" id="director" name="director" value="Natavan Shabanova">
              </div>
            </div>
            <div class="row mt-4 mx-2">
              <ul>
                {% for p in product %}
                <div class="col-md-12">
                  <li>
                    <strong>Product Name:</strong> {{ p.all_info.productName }}, <strong class="mx-2">Quantity:</strong>
                    {{ p.all_info.quantity }}, <strong class="mx-2">Unit Price:</strong> {{ p.all_info.price }}
                  </li>
                </div>
                {% empty %}
                <li>No products associated with this quote.</li>
                {% endfor %}
              </ul>
            </div>
            <div class="row my-2 mx-2">
              <ul>
                <li><strong>Total Price:</strong> {{ quote.total_price }}</li>
              </ul>
            </div>
            <div class="my-4">
              <button type="submit" class="btn btn-primary">Finalize PDF</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</body>

</html>