{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <table class="table">
      <thead>
        <th>Quote No.</th>
        <th>Client Name</th>
        <th>Company Name</th>
        <th>Client Email</th>

        </tr>
      </thead>
      <tbody>
        {% for quote in quotations %}
        <tr>
          <td>{{ quote.quotation_number }}</td>
          <td>{{ quote.client_name }}</td>
          <td>{{ quote.company_name }}</td>
          <td>{{ quote.client_email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</body>

</html>